/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
/*General Styles*/
html {
    font-size: 62.5%;/*Due to this font-size %, every 1rem = 10 pixels.*/
}
body {
    font-size: 1.8rem;
    color: #4F4F4F;
    line-height: 1.5;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: black;
    font-size: 5rem; 
}
h2 {
    font-size: 3.5rem;
}
section {
    padding: 4% 0;/*Adds top and bottom padding of 4% between sections.*/
}
a {
    text-decoration: none; /*Removes underline from links*/
    color: #4F4F4F; 
}* Add CSS styling here */

/*Header Section Styles*/

.link{
    color: red;
}

.main-titles{
    display: flex;
    justify-content: space-evenly;
}
.text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width:60%;
}

.main-titles img {
    width: 50%;
}
.box-group {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}